/*  зробити спільний клас на батони
.hero__btn {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-page-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-time-end-timing),
    box-shadow var(--transition-time-end-timing);
}

.hero__btn:active,
.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--accent-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */


/* ===sectin-features=== */
/* .features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-page-color);
  border-radius: 4px;
}

.features__list {
  display: flex;
  column-gap: 30px;
}

.features__item {
  width: 270px;
}

.features__label {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-and-names-color);
}

.features__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
} */

/* ===section-features-end=== */

/* ===section-directions=== */
/* .directions {
  padding-top: 0;
}

.directions__list {
  display: flex;
  column-gap: 30px;
}

.directions__item {
  position: relative;
}

.directions__label {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--primary-page-color);

  background-color: rgba(47, 48, 58, 0.8);
} */

/* ===section-directions-end=== */

/* ===directions-and-team-headers== */
/* .directions__header,
.team__header,
.customers__header {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-and-names-color);
} */

/* ===directions-and-team-headers== */

/* ===section-team=== */
/* .team {
  background-color: var(--secondary-page-color);
}

.team__list {
  display: flex;
  column-gap: 30px;
}

.team__list-item {
  background-color: var(--primary-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__names {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-and-names-color);
}

.team__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team__social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.team__social-list-item {
  width: 44px;
  height: 44px;
}

.team__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-fill);

  fill: currentColor;
  transition: color var(--transition-time-end-timing),
    background-color var(--transition-time-end-timing);
}

.team__social-links:hover,
.team__social-links:focus {
  color: var(--primary-page-color);
  background-color: var(--accent-color);
} */

/* .customers__list {
  display: flex;
  column-gap: 30px;
}

.customers__list-item {
  width: 170px;
  height: 92px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  fill: currentColor;
  transition: color var(--transition-time-end-timing),
    border-color var(--transition-time-end-timing);
}

.customers__link:hover,
.customers__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
} */

/* ===section-team-end=== */
/* ====main-studio-end==== */

/*=======portfolio=page========*/
/* ===filter-buttons=== */
/* .filter {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filter__btn {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-and-names-color);

  background-color: var(--secondary-page-color);
  
  transition: background-color var(--transition-time-end-timing),
    color var(--transition-time-end-timing),
    box-shadow var(--transition-time-end-timing);
}

.filter__btn:active,
.filter__btn:focus,
.filter__btn:hover {
  color: var(--primary-page-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* ===filter-buttons-end=== */

/* ===portfolio-projects=== */
/* .project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list__link {
  display: block;
  transition: box-shadow var(--transition-time-end-timing);
}

.project-list__link:hover,
.project-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
} */

/* .overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 370px;
  height: 294px;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-time-end-timing);
}

.project-list__link:hover .overlay,
.project-list__link:focus .overlay {
  transform: translateY(0%);
}

.overlay__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-page-color);
} */

/* .project-list__card {
  padding: 19px 24px;
  border: 1px solid var(--project-border-color);
  border-top: none;
}

.project-list__heading {
  margin-bottom: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-and-names-color);
}

.project-list__desc {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
} */

/* ===portfolio-projects-end=== */
/*=======portfolio=page-end========*/

/* ===footer=== */


/* .page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-footer-color);
}

.page-footer_position {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page-footer__address_width {
  width: 231px;
}

.page-footer__address-items:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__address-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-page-color);

  transition: color var(--transition-time-end-timing);
}

.page-footer__address-link:hover,
.page-footer__address-link:focus {
  color: var(--accent-color);
}

.page-footer__contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--translucent-page-color);

  transition: color var(--transition-time-end-timing);
}

.page-footer__contacts:hover,
.page-footer__contacts:focus {
  color: var(--accent-color);
}

.page-footer__label {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-page-color);
}

.page-footer__social-list {
  display: flex;
  column-gap: 10px;
}

.page-footer__social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.page-footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-page-color);

  fill: currentColor;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-time-end-timing);
}

.page-footer__social-links:hover,
.page-footer__social-links:focus {
  background-color: var(--accent-color);
} */

/* .subscription-form_wrapper {
  display: flex;
}

.subscription-form__label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-page-color);
}

.subscription-form__field {
  width: 358px;
  margin-right: 12px;
  padding-left: 15px;

  color: var(--primary-page-color);
  background-color: var(--bg-footer-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form__btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 28px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;

  fill: var(--primary-page-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-time-end-timing),
    box-shadow var(--transition-time-end-timing);
}

.subscription-form__btn:active,
.subscription-form__btn:hover,
.subscription-form__btn:focus {
  background-color: var(--accent-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* ===footer-end=== */

/* ===backdrop=== */
/* .backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 777;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-time-end-timing);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */

/* ===backdrop-end=== */

/* ===modal-window=== */


/* .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--primary-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) translateY(0);
  transition: transform var(--transition-time-end-timing),
    visibility var(--transition-time-end-timing);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(100%);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  fill: var(--accent-second-color);
  background-color: var(--primary-page-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill var(--transition-time-end-timing);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
} */

/* .form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-and-names-color);
}

.form__field {
  display: block;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  transition: border var(--transition-time-end-timing);
}

.form__input:focus,
.form__input:hover {
  border: 1px solid var(--accent-color);
}

.form__icon-thumb {
  position: relative;
  display: block;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--border-and-form-icon-color);

  transition: fill var(--transition-time-end-timing);
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
  fill: var(--accent-color);
}

.form__comment {
  display: block;
  margin-bottom: 20px;
}

.form__comment-area {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  transition: border var(--transition-time-end-timing);
}

.form__comment-area:focus,
.form__comment-area:hover {
  border: 1px solid var(--accent-color);
}

.form__comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__check-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.form__own-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--border-and-form-icon-color);
  border-radius: 2px;

  transition: background-color var(--transition-time-end-timing),
    border-color var(--transition-time-end-timing),
    box-shadow var(--transition-time-end-timing);
}

.form__checkbox-icon {
  display: none;
  fill: var(--primary-page-color);
}

.form__checkbox:checked+.form__own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.form__checkbox:checked+.form__own-checkbox .form__checkbox-icon {
  display: block;
}

.form__checkbox:not(:checked):focus+.form__own-checkbox {
  box-shadow: 0 0 1px 2px var(--accent-color);
  border-color: var(--accent-color);
}

.form__checkbox:checked:focus+.form__own-checkbox {
  box-shadow: 0 0 1px 2px var(--accent-color);
  border-color: var(--accent-color);
}

.form__policy-link {
  color: var(--accent-color);
  transition: text-shadow var(--transition-time-end-timing),
    color var(--transition-time-end-timing);
}

.form__policy-link:hover,
.form__policy-link:focus {
  color: var(--accent-active-color);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.form__btn {
  padding: 10px 52px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-page-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--transition-time-end-timing),
    box-shadow var(--transition-time-end-timing);
}

.form__btn:active,
.form__btn:hover,
.form__btn:focus {
  background-color: var(--accent-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} 
 */